.header__logo{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 1rem;
    margin-top: 0;
    z-index: 100;
    
    @media (min-width: 1024px) {
        padding: 7px 0;
    }
}

.header__section.hidden {
    display: none;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--background-dark);
}

.header__burger{
    @media (min-width: 1024px) {
        display: none;
    }
}

.header__nav{
    display: flex;
    flex-direction: row;
}

.header__section{
    transition: display 0.3s ease;
    position: relative;
    padding: 0;
    margin-top: 0;
    max-width: none;
    background-color: var(--background-orange);
}

.header__button{
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.header__img{
    display: block;

    @media (min-width: 1024px) {
        display: none;
    }
}
